
body {
        color: #4B4B4B;
        font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 13px;
        font-weight: 400;
        padding-bottom: 40px;
        padding-top: 20px;
        background: #f2f2f2 url('../img/bg_profiel.png');
}


.wrapper {
        box-shadow: 0 1px 6px rgba(0, 0, 0, 0.30), 0 0 40px rgba(0, 0, 0, 0.10) inset;
        padding: 50px 30px 19px 30px;
}

.container-fluid {
        max-width: 860px;
        margin: 0 auto;
        background: #FFFFFF;
}

.heading {
        margin: 0 0 45px 0;
}

.head-shot {
        background-color: #FFFFFF;
        border: 1px solid #C0C0C0;
        border: 1px solid rgba(0, 0, 0, 0.2);
        -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
        -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
        float: left;
        margin: 0 20px 5px 0;
        padding: 4px;
}

.name {
        color: #4A4A4A;
        font-size: 24px;
        line-height: 34px;
        text-transform: uppercase;
}

.trade {
        color: #389B17;
}

.trade, .service {
        font-size: 16px;
        line-height: 34px;
}

.service {
        margin-top: 34px;
}

.download-cv, .mijn-info, right {
        margin-right: 3px;
        float: right;
}

h1, h2, h3, h4, h5, p, li, .mijn-info {
        font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-weight: 400;
        color: #4B4B4B;
        margin: 0;
        padding: 0;
}

.my-info, .instituut, .skill {
    font-size: 13px;
    margin-top: 4px;
}


a {
        color: #08c;
}

.kop {
        border-bottom: 1px dotted #389B17;
        color: #389B17;
        font-size: 14px;
        font-weight: 400;
        line-height: normal;
        margin-top: 15px;
        text-transform: uppercase;
}

/* ------------------------------

    CV

--------------------------------*/

.instituut, .functie {
    font-weight: 600;
}

.plaats-jaar {
    margin-bottom: 4px;
}

.small-star {
    margin-top: 2px;
    font-size: 13px;
}

/* -------------------------------- 
    MAPS

Primary style

-------------------------------- */
html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "Lora", serif;
  color: #2d313f;
  background-color: #e7eaf0;
}

/* -------------------------------- 

Main components 

-------------------------------- */

#zoom {
  margin: 9px;
  color: #fff;
  font-size: 2em;
}

header {
  height: 200px;
  line-height: 200px;
  text-align: center;
  background: #2d313f;
}
header h1 {
  color: white;
  font-size: 20px;
  font-size: 1.25rem;
}
@media only screen and (min-width: 768px) {
  header {
    height: 200px;
    line-height: 300px;
  }
}

#google-container {
  position: relative;
  width: 100%;
  height: 200px;
  background-color: #e7eaf0;
}
@media only screen and (min-width: 768px) {
  #google-container {
    height: 200px;
  }
}
@media only screen and (min-width: 1170px) {
  #google-container {
    height: 300px;
  }
}

#cd-google-map {
  position: relative;
}
#cd-google-map address {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  padding: 1em 1em;
  background-color: rgba(56, 155, 23, 1);
  color: white;
  font-size: 13px;
  font-size: 0.8125rem;
}
@media only screen and (min-width: 768px) {
  #cd-google-map address {
    font-size: 15px;
    font-size: 0.9375rem;
    text-align: center;
  }
}

#cd-zoom-in, #cd-zoom-out {
  height: 32px;
  width: 32px;
  cursor: pointer;
  margin-left: 10px;
  background-color: rgba(56, 155, 23, 1);
  background-repeat: no-repeat;
  background-size: 32px 64px;
  background-image: url("../img/cd-icon-controller.svg");
}


.no-touch #cd-zoom-in:hover, .no-touch #cd-zoom-out:hover {
  background-color: #d36868;
}
@media only screen and (min-width: 768px) {
  #cd-zoom-in, #cd-zoom-out {
    margin-left: 50px;
  }
}

#cd-zoom-in {
  background-position: 50% 0;
  margin-top: 10px;
  margin-bottom: 1px;
}
@media only screen and (min-width: 768px) {
  #cd-zoom-in {
    margin-top: 50px;
  }
}

#cd-zoom-out {
  background-position: 50% -32px;
}

@media print {
  [class*="col-md-"] {
    float: left;
  }
 
  .lokatie, #cd-google-map, .carousel {
      display: none;
  }
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  height: 300px;
  margin-bottom: 40px;
  margin-top: 40px;
}

.carousel h1, 
.carousel h2, 
.carousel h3, 
.carousel h4, 
.carousel h5, 
.carousel span {
  color: #fff;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 300px;
  background-color: #777;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 300px;
}

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {
  /* Navbar positioning foo */
  .navbar-wrapper {
    margin-top: 20px;
  }
  .navbar-wrapper .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left: 0;
  }

  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }

  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}