/*   ====   BODY and WRAPPER    ====   */
*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  color: #4b4b4b;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  font-weight: 400;
  padding-bottom: 40px;
  padding-top: 20px;
  background: #f2f2f2 url('../img/bg_profiel.png');
}
.wrapper {
  -webkit-box-shadow: 3px 3px 5px 0px rgba(50, 156, 51, 0.75);
  -moz-box-shadow: 3px 3px 5px 0px rgba(50, 156, 51, 0.75);
  box-shadow: 3px 3px 5px 0px rgba(50, 156, 51, 0.75);
  padding: 50px 30px 19px 30px;
}
.wrapper > .kop {
  margin-bottom: 11px;
}
.container-fluid {
  max-width: 860px;
  margin: 0 auto;
  background: #FFFFFF;
}
/*   ====   HEAD    ====   */
.heading {
  margin: 0 0 45px 0;
}
.heading h2 {
  font-size: 18px;
}
.head-shot {
  background-color: #FFFFFF;
  border: 1px solid #C0C0C0;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  float: left;
  margin: 0 20px 5px 0;
  padding: 4px;
}
.name {
  color: #4b4b4b;
  font-size: 24px;
  line-height: 34px;
  text-transform: uppercase;
}
.trade {
  color: #389b17;
}
.service {
  font-size: 16px;
  line-height: 34px;
  margin-top: 34px;
}
.service .trade {
  color: #389b17;
}
h1,
h2,
h3,
h4,
h5,
p,
li,
.mijn-info {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  color: #4B4B4B;
  margin: 0;
  padding: 0;
}
h1 .download-cv,
h2 .download-cv,
h3 .download-cv,
h4 .download-cv,
h5 .download-cv,
p .download-cv,
li .download-cv,
.mijn-info .download-cv,
h1 .mijn-info,
h2 .mijn-info,
h3 .mijn-info,
h4 .mijn-info,
h5 .mijn-info,
p .mijn-info,
li .mijn-info,
.mijn-info .mijn-info,
h1 right,
h2 right,
h3 right,
h4 right,
h5 right,
p right,
li right,
.mijn-info right {
  margin-right: 3px;
  float: right;
}
.my-info,
.instituut,
.skill {
  font-size: 13px;
  margin-top: 4px;
}
a {
  color: #08c;
}
.kop {
  border-bottom: 1px dotted #389b17;
  color: #389b17;
  font-size: 14px;
  font-weight: 600;
  line-height: normal;
  margin-top: 15px;
  text-transform: uppercase;
}
/*   ====   CV      ====   */
.cv h1,
.cv h2,
.cv h3,
.cv h4,
.cv h5,
.cv p,
.cv li,
.cv .mijn-info {
  font-size: 13px;
}
.instituut,
.functie {
  font-weight: 600;
}
.plaats-jaar {
  margin-bottom: 4px;
}
.small-star {
  margin-top: 2px;
  font-size: 13px;
}
/*   ====   PORTFOLIO    ====   */
/* portfolio */
#portfolio {
  margin-bottom: 40px;
}
.portfolio-item {
  display: inline-block;
  margin-bottom: 12px;
  vertical-align: top;
  min-width: 150px;
}
.portfolio-item img {
  max-width: 100%;
  margin-bottom: -1px;
}
.portfolio-details {
  border: 1px solid #D1D1D1;
  padding: 12px 12px 10px 12px;
}
.portfolio-details > h4 {
  color: #3c3c3c;
  font-size: 12px;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 3px;
  text-transform: uppercase;
}
.portfolio-details > p {
  font-size: 13px;
  font-weight: 400;
  line-height: 1.4;
  margin-top: 5px;
}
.portfolio-details > p + img {
  margin-top: 10px;
  margin-bottom: 5px;
}
.portfolio-details > h4 + img {
  margin-top: 7px;
  margin-bottom: 5px;
}
.portfolio-details > img + h4 {
  margin-top: 10px;
}
.portfolio-details a {
  font-size: 13px;
  font-weight: 400;
}
.portfolio-details i {
  font-size: 13px;
  font-weight: normal;
}
.portfolio-links {
  margin-top: 10px !important;
}
/*   ====   MAPS    ====   */
#zoom {
  margin: 9px;
  color: #fff;
  font-size: 2em;
}
header {
  height: 300px;
  line-height: 300px;
  text-align: center;
  background: #2d313f;
}
header h1,
header h2,
header h3 {
  color: white;
  font-size: 20px;
  font-size: 1.25rem;
}
#google-container {
  position: relative;
  width: 100%;
  height: 300px;
  background-color: #e7eaf0;
  margin-top: 4px;
}
#cd-zoom-in,
#cd-zoom-out {
  height: 32px;
  width: 32px;
  cursor: pointer;
  margin-left: 10px;
  margin-top: 10px;
  background-color: #389b17;
  background-repeat: no-repeat;
  background-size: 32px 64px;
  background-image: url("../img/cd-icon-controller.svg");
  background-position: 50% 0px;
}
#cd-zoom-out {
  background-position: 50% -32px;
}
.no-touch #cd-zoom-in:hover,
.no-touch #cd-zoom-out:hover {
  background-color: #d36868;
}
#cd-google-map {
  position: relative;
}
cd-google-map address {
  font-size: 15px;
  font-size: 0.9375rem;
  text-align: center;
}
/*   ====   CAROUSEL    ====   */
.carousel {
  height: 300px;
  margin-bottom: 40px;
  margin-top: 40px;
}
.carousel h1,
.carousel h2,
.carousel h3,
.carousel h4,
.carousel h5,
.carousel p,
.carousel span {
  color: #fff;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
  padding-left: 4px;
  text-align: left;
}
.carousel-caption h1,
.carousel-caption p {
  background: rgba(0, 0, 0, 0.7);
  padding: 3px;
}
.skills-right {
  height: 180px;
  width: 150px;
  border: 1px dotted black;
  position: absolute;
  right: -80px;
  top: 20px;
  background: rgba(0, 0, 0, 0.7);
  padding-left: 4px;
  padding-right: 4px;
}
/* Declare heights because of positioning of img element */
.carousel .item {
  height: 300px;
  background-color: #777;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 7px;
  margin-right: 7px;
  min-width: 100%;
  height: 300px;
}
.carousel-inner > .item carousel-caption {
  padding-left: 16px;
}
/***********************************
/
/       THE RESPONSIVE WORK
/
/**********************************/
@media print {
  [class*="col-md-"] {
    float: left;
  }
  .lokatie,
  #cd-google-map,
  .carousel {
    display: none;
  }
  a[href]:after {
    content: none !important;
  }
}
@media only screen and (max-width: 768px) {
  #google-container {
    height: 200px;
  }
  .carousel {
    height: 200px;
    font-weight: 600;
  }
  .carousel .item {
    height: 200px;
  }
  .carousel h1 {
    font-size: 16px;
  }
  .carousel h2 {
    font-size: 14px;
  }
  .carousel p {
    font-size: 12px;
  }
  .carousel .btn-lg {
    padding: 5px 8px;
    font-size: 14px;
  }
  .carousel .skills-right {
    height: 120px;
  }
  .carousel-inner > .item > img {
    height: 200px;
  }
}
