<div class="container-fluid wrapper">

{% include "head.twig" %}

    <!-- Opleiding en ervaring ==================================== -->

    <div class="row-fluid row cv">
        <!-- column 1 -->
        <div class="col-md-4 col-sm-6 ">
            <h3 class="kop">Opleidingen 1</h3>
            <h4 class="instituut">Bachelor Commerciële Economie</h4>
            <h5 class="plaats-jaar">InHolland, Haarlem <span class="mijn-info">2003 - 2008</span></h5>

            <h4 class="instituut">HAVO Exact pakket</h4>
            <h5 class="plaats-jaar">Kennemer lyceum, Overveen <span class="mijn-info">1993 - 1998</span></h5>

            <h3 class="kop">Cursussen</h3>
            <h4 class="instituut">Advanved PHP Programming (INT 506)</h4>
            <h5 class="plaats-jaar">Twice, Utrecht <span class="mijn-info">2013</span></h5>

            <h4 class="instituut">PHP Programming (INT 503)</h4>
            <h5 class="plaats-jaar">Twice, Utrecht <span class="mijn-info">2013</span></h5>

            <h4 class="instituut">Primavera beheer</h4>
            <h5 class="plaats-jaar">Primaned, Capelle aan de IJssel <span class="mijn-info">2010</span></h5>

            <h3 class="kop">Stages</h3>
            <h4 class="instituut">PHP developer</h4>
            <h5 class="plaats-jaar">Cyberdots, Hoorn <span class="mijn-info">2014 - 2015</span></h5>
        </div>

        <!-- column 2 -->
        <div class="col-md-4 col-sm-6">
            <h3 class="kop">Werkervaring</h3>

            <h4 class="instituut">Web developer</h4>
            <h5 class="plaats-jaar">New Fountain, Haarlem <span class="mijn-info">april 2014 - heden</span></h5>
            <h5>PHP, javascript, wordpress, ontwikkeling en beheer</h5>

            <h4 class="instituut">Marketing adviseur</h4>
            <h5 class="plaats-jaar">ISB, Santpoort <span class="mijn-info">2014</span></h5>

            <h4 class="instituut">Migratie coördinator</h4>
            <h5 class="plaats-jaar">Buuv.nu, Haarlem <span class="mijn-info">2013</span></h5>

            <h4 class="instituut">Planner - risicoanalist</h4>
            <h5 class="plaats-jaar">Gemeente Haarlem <span class="mijn-info">2008 - 2013</span></h5>

            <h4 class="instituut">Medewerker bouwtoezicht</h4>
            <h5 class="plaats-jaar">Gemeente Haarlem <span class="mijn-info">2003 - 2008</span></h5>

            <h4 class="instituut">Planner</h4>
            <h5 class="plaats-jaar">Active Koeriers, Haarlem <span class="mijn-info">2000 - 2003</span></h5>

        </div>

        <!-- column 3 -->
        <div class="col-md-4 col-sm-6">
        <h3 class="kop">Programmeer vaardigheden</h3>
            <h4 class="skill">
                PHP & SQL
                <span class="mijn-info small-star">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                    <i class="fa fa-star-o"></i>
                </span></h4>

            <h4 class="skill">
                HTML(5) & CSS(3)
                <span class="mijn-info small-star">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                    <i class="fa fa-star-o"></i>
                </span></h4>

            <h4 class="skill">
                Javascript & Jquery
                <span class="mijn-info small-star">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                    <i class="fa fa-star-o"></i>
                </span></h4>

        <h3 class="kop">Grafische vaardigheden</h3>

            <h4 class="skill">
                Photoshop & Illustrator
                <span class="mijn-info small-star">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-half"></i>
                    <i class="fa fa-star-o"></i>
                </span></h4>

            <h4 class="skill">
                Dreamweaver
                <span class="mijn-info small-star">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-half"></i>
                    <i class="fa fa-star-o"></i>
                    <i class="fa fa-star-o"></i>
                </span></h4>


        <h3 class="kop">Software en Systemen</h3>

            <h4 class="skill">
                Netbeans IDE
                <span class="mijn-info small-star">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-half"></i>
                    <i class="fa fa-star-o"></i>
                </span></h4>

            <h4 class="skill">
                Git
                <span class="mijn-info small-star">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-half"></i>
                    <i class="fa fa-star-o"></i>
                </span></h4>

             <h4 class="skill">
                Composer & Less
                <span class="mijn-info small-star">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                    <i class="fa fa-star-o"></i>
                    <i class="fa fa-star-o"></i>
                </span></h4>

             <h4 class="skill">
                Wordpress & Cake
                <span class="mijn-info small-star">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-half"></i>
                    <i class="fa fa-star-o"></i>
                    <i class="fa fa-star-o"></i>
                </span></h4>
        </div>


    </div> <!-- eind cv -->
     <!-- Google maps ============================================== -->
    <h3 class="kop lokatie">Lokatie</h3>

    <section id="cd-google-map">
	<div id="google-container"></div>
        <div id="cd-zoom-in"><span id="zoom"></span></div>
	<div id="cd-zoom-out"><span id="zoom"></span></div>
	<address>Denemarkenstraat 53, Haarlem, 2034 AB</address>
    </section>

    <!-- Contact ================================================== -->

    <div class="row-fluid contact">

        <!--column 1 -->
        <div class="col-md-4">

            <h3 class="kop">Persoonlijke info</h3>
            <h4 class="my-info">Geb. <span class="mijn-info">16 juni 1978</span></h4>
            <span itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
                <h4 class="my-info">Adres <span class="mijn-info"><span itemprop="streetAddress">Denemarkenstraat 53</span></span></h4>
                <h4 class="my-info">&nbsp;<span class="mijn-info"><span itemprop="postalCode">2034 AB</span>, <span itemprop="addressLocality">Haarlem</span></span></h4>
                <h4 class="my-info">&nbsp;<span class="mijn-info"><span itemprop="addressCountry">Nederland</span></span></h4>
            </span>
        </div>

        <!--column 2 -->
        <div class="col-md-4">

            <h3 class="kop">Contact</h3>

            <h4 class="my-info">
                <span class="glyphicon glyphicon-earphone"></span> Telefoon
                <span class="mijn-info"><span itemprop="telephone">023 574 63 20</span></span>
            </h4>

            <h4 class="my-info">
                <span class="glyphicon glyphicon-signal"></span> Mobiel
                <span class="mijn-info"><span itemprop="telephone">06 1432 9070</span></span>
            </h4>

            <h4 class="my-info">
                <span class="glyphicon glyphicon-send"></span> Email
                <span class="mijn-info"><span itemprop="email">
                    <a href="mailto:s.schotvanger@gmail.com">s.schotvanger&#64;gmail.com</a>
                    </span></span>
            </h4>

            <h4 class="my-info">
                <span class="glyphicon glyphicon-globe"></span> Website
                <span class="mijn-info">
                    <a href="#" target="_blank">puddinq.mobi</a>
                </span>
            </h4>

        </div>
        <!--column 3 -->
        <div class="col-md-4">

            <h3 class="kop">Volg mij</h3>
            <h4 class="my-info">
                <i class="fa fa-google-plus"></i>
                    <span class="mijn-info">
                    <a href="https://plus.google.com/115585877238866188155" target="_blank">Google +</a>
                    </span>
                <br />
            </h4>
            <h4 class="my-info">
                <i class="fa fa-facebook"></i>
                    <span class="mijn-info">
                    <a href="https://www.facebook.com/public/Stefan-Schotvanger" target="_blank">Facebook</a>
                    </span>
              <br />
            </h4>
            <h4 class="my-info">
                <i class="fa fa-twitter"></i>
                    <span class="mijn-info">
                    <a href="https://twitter.com/schotvs" target="_blank">Twitter</a>
                    </span>
               <br />
            </h4>
            <h4 class="my-info">
                <i class="fa fa-linkedin"></i>
                    <span class="mijn-info">
                        <a href="https://nl.linkedin.com/pub/stefan-schotvanger">Linkedin</a>
                    </span>
                <br /><br />
            </h4>

        </div><!-- end of column 3 -->

    </div><!-- end of contact -->

            <!-- Portfolio ================================================== -->
    <div class="clearfix"></div>
    <h3 class="kop">Portfolio</h3>

        <div id="portfolio">
           <div class="portfolio-item">
                <img src="img/login_logo.jpg" alt="puddinq logo">
                <div class="portfolio-details">
                    <h4>Puddinq.mobi</h4>
                    <p>
                        Puddinq is het publicatie platform. Het domein
                        is bereikbaar via de *.com, *.nl en *.mobi extensie.
                    </p>
                    <p>
                        Op puddinq draaien 3 zelfgeschreven php sites, 2
                        wordpress sites en 1 cakephp site.
                    </p>

                    <img src="img/puddinq.JPG" alt="puddinq">
                    <p class="portfolio-links">
                        <a href="https://www.puddinq.mobi" target="_blank">
                            <i class="fa fa-copyright"></i>&nbsp;puddinq.mobi
                        </a>
                    </p>
                </div>
            </div>

            <div class="portfolio-item">
                <div class="portfolio-details">
                    <img src="img/CV.png" alt="stefan schotvanger cv">
                </div>
            </div>

            <div class="portfolio-item">
                <div class="portfolio-details">
                    <a href="https://www.anand-roti.nl" target="_blank">
                    <img src="img/Anand-roti.png" alt="Anand roti.nl">
                    </a>
                </div>
            </div>

        </div><!-- end of portfolio -->


    <!-- Portfolio - showcase ======================================= -->

    <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="12000">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
      <!-- slides -->
      <div class="carousel-inner" role="listbox">
          <!-- slide 1 active -->
            <div class="item active">
              <img src="img/pai.jpg" alt="First slide">
              <div class="container">
                <div class="carousel-caption">
                    <h1 class="kop">Shop Info plugin voor Wordpress</h1>
                    <p>Shop Info is een plugin waarin informatie over winkels kan worden<br>
                       opgeslagen en bewerkt</p><br /><br />

                  <p><a class="btn btn-lg btn-primary" href="https://www.puddinq.mobi/scooter/stad/haarlem/" role="button" target="_blank">Bekijk de informatie</a>
                  &nbsp;<a class="btn btn-lg btn-primary" href="https://github.com/wonder32/puddinq_shop_info" role="button" target="_blank">Download de plugin</a></p>
                    <div class="skills-right">
                        <h2 class="kop">Toegepast</h2>
                        Wordpress<br />
                        - action hooks<br />
                        - custom table<br />
                        - SQL<br />

                    </div>
                </div>
              </div>
            </div>
          <!-- slide 2 -->
            <div class="item">
              <div class="container">
                <div class="carousel-caption">
                  <h1>Puddinq.mobi</h1>
                  <p>Puddinq is het domein waarop ik publiceer. Bij binnenkomst<br />
                     is een eenvoudig wordpress thema te zien, maar voor wordpress is<br />
                     de site snel en goed te vinden in google.</p><br /><br />
                  <p><a class="btn btn-lg btn-primary" href="http://www.puddinq.mobi" role="button">Home</a></p>
                </div>
              </div>
            </div>
          <!-- slide 3 -->
            <div class="item">
              <img src="img/ar.jpg" alt="Third slide" class="image-carousel">
              <div class="container">
                <div class="carousel-caption">
                  <h1>Anand-roti.nl</h1>
                  <p>Anand roti heeft een wordpress site met een responsive thema. De website is nog<br />
                  in opbouw maar wel al functioneel.</p><br /><br />
                  <p><a class="btn btn-lg btn-primary" href="#" role="button">Bekijk</a></p>
                </div>
              </div>
            </div>
        </div><!-- end of slides -->
      <!-- navigation prev/ next-->
      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div><!-- /.carousel -->

</div> <!-- end of container (fluid wrapper)) -->
