<div class="container-fluid wrapper">

{% include "head.twig" %}

    <!-- Opleiding en ervaring ==================================== -->

    <div class="row-fluid row cv">
        <!-- column 1 -->
        <div class="col-md-4 col-sm-6 ">
            <h3 class="kop">Opleidingen 1</h3>
            <h4 class="instituut">Bachelor Commerciële Economie</h4>
            <h5 class="plaats-jaar">InHolland, Haarlem <span class="mijn-info">2003 - 2008</span></h5>

            <h4 class="instituut">HAVO Exact pakket</h4>
            <h5 class="plaats-jaar">Kennemer lyceum, Overveen <span class="mijn-info">1993 - 1998</span></h5>

            <h3 class="kop">Cursussen</h3>
            <h4 class="instituut">Advanved PHP Programming (INT 506)</h4>
            <h5 class="plaats-jaar">Twice, Utrecht <span class="mijn-info">2013</span></h5>

            <h4 class="instituut">PHP Programming (INT 503)</h4>
            <h5 class="plaats-jaar">Twice, Utrecht <span class="mijn-info">2013</span></h5>

            <h4 class="instituut">Primavera beheer</h4>
            <h5 class="plaats-jaar">Primaned, Capelle aan de IJssel <span class="mijn-info">2010</span></h5>

            <h3 class="kop">Stages</h3>
            <h4 class="instituut">PHP developer</h4>
            <h5 class="plaats-jaar">Cyberdots, Hoorn <span class="mijn-info">2014 - 2015</span></h5>
        </div>

        <!-- column 2 -->
        <div class="col-md-4 col-sm-6">
            <h3 class="kop">Werkervaring</h3>

            <h4 class="instituut">Web developer</h4>
            <h5 class="plaats-jaar">New Fountain, Haarlem <span class="mijn-info">april 2014 - heden</span></h5>
            <h5>PHP, javascript, wordpress, ontwikkeling en beheer</h5>

            <h4 class="instituut">Marketing adviseur</h4>
            <h5 class="plaats-jaar">ISB, Santpoort <span class="mijn-info">2014</span></h5>

            <h4 class="instituut">Migratie coördinator</h4>
            <h5 class="plaats-jaar">Buuv.nu, Haarlem <span class="mijn-info">2013</span></h5>

            <h4 class="instituut">Planner - risicoanalist</h4>
            <h5 class="plaats-jaar">Gemeente Haarlem <span class="mijn-info">2008 - 2013</span></h5>

            <h4 class="instituut">Medewerker bouwtoezicht</h4>
            <h5 class="plaats-jaar">Gemeente Haarlem <span class="mijn-info">2003 - 2008</span></h5>

            <h4 class="instituut">Planner</h4>
            <h5 class="plaats-jaar">Active Koeriers, Haarlem <span class="mijn-info">2000 - 2003</span></h5>

        </div>

        <!-- column 3 -->
        <div class="col-md-4 col-sm-6">
        <h3 class="kop">Programmeer vaardigheden</h3>
            <h4 class="skill">
                PHP & SQL
                <span class="mijn-info small-star">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-half"></i>
                </span></h4>

            <h4 class="skill">
                HTML(5) & CSS(3)
                <span class="mijn-info small-star">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-half"></i>
                </span></h4>

            <h4 class="skill">
                Javascript & Jquery
                <span class="mijn-info small-star">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-half"></i>
                </span></h4>

        <h3 class="kop">Grafische vaardigheden</h3>

            <h4 class="skill">
                Photoshop & Illustrator
                <span class="mijn-info small-star">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-half"></i>
                    <i class="fa fa-star-o"></i>
                </span></h4>

            <h4 class="skill">
                Dreamweaver
                <span class="mijn-info small-star">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-half"></i>
                    <i class="fa fa-star-o"></i>
                    <i class="fa fa-star-o"></i>
                </span></h4>


        <h3 class="kop">Software en Systemen</h3>

            <h4 class="skill">
                PhpStorm IDE
                <span class="mijn-info small-star">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-half"></i>
                </span></h4>

            <h4 class="skill">
                Git
                <span class="mijn-info small-star">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-half"></i>
                    <i class="fa fa-star-o"></i>
                </span></h4>

             <h4 class="skill">
                Composer & Less
                <span class="mijn-info small-star">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-half"></i>
                </span></h4>

             <h4 class="skill">
                Wordpress
                <span class="mijn-info small-star">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                </span></h4>

            <h4 class="skill">
                Laravel
                <span class="mijn-info small-star">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                    <i class="fa fa-star-o"></i>
                    <i class="fa fa-star-o"></i>
                </span></h4>
        </div>


    </div> <!-- eind cv -->
     <!-- Google maps ============================================== -->
    <h3 class="kop lokatie">Lokatie</h3>

    <section id="cd-google-map">
	<div id="google-container"></div>
        <div id="cd-zoom-in"><span id="zoom"></span></div>
	<div id="cd-zoom-out"><span id="zoom"></span></div>
	<address>Denemarkenstraat 53, Haarlem, 2034 AB</address>
    </section>

    <!-- Contact ================================================== -->

    <div class="row-fluid contact">

        <!--column 1 -->
        <div class="col-md-4">

            <h3 class="kop">Persoonlijke info</h3>
            <h4 class="my-info">Geb. <span class="mijn-info">16 juni 1978</span></h4>
            <span itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
                <h4 class="my-info">Adres <span class="mijn-info"><span itemprop="streetAddress">Denemarkenstraat 53</span></span></h4>
                <h4 class="my-info">&nbsp;<span class="mijn-info"><span itemprop="postalCode">2034 AB</span>, <span itemprop="addressLocality">Haarlem</span></span></h4>
                <h4 class="my-info">&nbsp;<span class="mijn-info"><span itemprop="addressCountry">Nederland</span></span></h4>
            </span>
        </div>

        <!--column 2 -->
        <div class="col-md-4">

            <h3 class="kop">Contact</h3>

            <h4 class="my-info">
                <span class="glyphicon glyphicon-earphone"></span> Telefoon
                <span class="mijn-info"><span itemprop="telephone">023 574 63 20</span></span>
            </h4>

            <h4 class="my-info">
                <span class="glyphicon glyphicon-signal"></span> Mobiel
                <span class="mijn-info"><span itemprop="telephone">06 3805 9189</span></span>
            </h4>

            <h4 class="my-info">
                <span class="glyphicon glyphicon-send"></span> Email
                <span class="mijn-info"><span itemprop="email">
                    <a href="mailto:s.schotvanger@gmail.com">s.schotvanger&#64;gmail.com</a>
                    </span></span>
            </h4>

            <h4 class="my-info">
                <span class="glyphicon glyphicon-globe"></span> Website
                <span class="mijn-info">
                    <a href="#" target="_blank">puddinq.mobi</a>
                </span>
            </h4>

        </div>
        <!--column 3 -->
        <div class="col-md-4">

            <h3 class="kop">Volg mij</h3>

            <h4 class="my-info">
                <i class="fa fa-facebook"></i>
                    <span class="mijn-info">
                    <a href="https://www.facebook.com/public/Stefan-Schotvanger" target="_blank">Facebook</a>
                    </span>
              <br />
            </h4>
            <h4 class="my-info">
                <i class="fa fa-twitter"></i>
                    <span class="mijn-info">
                    <a href="https://twitter.com/schotvs" target="_blank">Twitter</a>
                    </span>
               <br />
            </h4>
            <h4 class="my-info">
                <i class="fa fa-linkedin"></i>
                    <span class="mijn-info">
                        <a href="https://nl.linkedin.com/in/stefan-schotvanger-188b1373">Linkedin</a>
                    </span>
                <br /><br />
            </h4>

        </div><!-- end of column 3 -->

    </div><!-- end of contact -->

    <!-- Portfolio ================================================== -->
    <div class="clearfix"></div>
    <h3 class="kop">Portfolio</h3>
        <!-- puddinq ================================================== -->
        <div id="portfolio">
           <div class="portfolio-item">
                <img src="img/login_logo.jpg" alt="puddinq logo">
                <div class="portfolio-details">
                    <h4>Puddinq</h4>
                    <p>
                        De basis achter alle puddinq websites, de eerste en de meest experimentele.
                    </p>
                    <p>
                        Directe puddinq websites zijn:
                    </p>
                    <ul>
                        <li><a href="https://www.puddinq.mobi" title="bekijk puddinq.mobi">Puddinq.mobi</a></li>
                        <li><a href="https://www.puddinq.nl" title="bekijk puddinq.nl">Puddinq.nl</a></li>
                        <li><a href="https://www.puddinq.com" title="bekijk puddinq.com">Puddinq.com</a></li>
                    </ul>

                    <img src="img/puddinq.JPG" alt="puddinq">
                    <p class="portfolio-links">
                        <a href="https://www.puddinq.mobi" target="_blank">
                            <i class="fa fa-copyright"></i>&nbsp;puddinq.mobi
                        </a>
                    </p>
                </div>
            </div>

        <!-- puddinq.com ================================================== -->
           <div class="portfolio-item">
                <img src="img/puddinq-com.png" alt="puddinq.com site">
                <div class="portfolio-details">
                    <h4>Puddinq.com</h4>
                    <p>
                        Puddinq.com is the fastest, made to archive snippets and
                        information for developing WordPress sites.
                    </p>
                </div>
               <img src="img/puddinq-com-speed.png" alt="puddinq.com site">
               <div class="portfolio-details">
                    <p>
                        Internationally orientated this site is multi lingual cdn cached
                    </p>
                    <p class="portfolio-links">
                        <a href="https://www.puddinq.com" target="_blank" title="puddinq.com">
                            <i class="fa fa-copyright"></i>&nbsp;puddinq.com
                        </a>
                    </p>
                </div>
            </div>

        <!-- puddinq.mobi ================================================== -->
           <div class="portfolio-item">
                <img src="img/puddinq-mobi.png" alt="puddinq.mobi site">
                <div class="portfolio-details">
                    <h4>Puddinq.mobi</h4>
                    <p>
                        Puddnq.mobi biedt op het moment een mobiele applicatie die
                        het mogelijk maakt vergunningen, kadastrale kaarten en luchtfoto's weer te geven.
                    </p>
                    <p>
                        Puddnq.mobi biedt op het moment een mobiele applicatie die
                        het mogelijk maakt vergunningen, kadastrale kaarten en luchtfoto's weer te geven.
                    </p>
                    <ul>
                        <li>Node.js</li>
                        <li>Open layers</li>
                        <li>Open data</li>
                        <li>Multiple api's</li>
                    </ul>

                    <p class="portfolio-links">
                        <a href="https://www.puddinq.mobi" target="_blank">
                            <i class="fa fa-copyright"></i>&nbsp;puddinq.mobi
                        </a>
                    </p>
                </div>
            </div>

        </div><!-- end of portfolio -->

    <!-- winkel-centrum.nl ================================================== -->
           <div class="portfolio-item">
                <img src="img/winkel-centrum.png" alt="winkel-centrum.nl site">
                <div class="portfolio-details">
                    <h4>winkel-centrum.nl</h4>
                    <p>
                        Who ever said WooCommerce is slow, just never saw a fast version.
                    </p>
                    <p>
                        Winkel-centrum.nl is an affiliated woocommerce website with lots of products, and growing.
                    </p>
                    <p class="portfolio-links">
                        <a href="https://www.winkel-centrum.nl" target="_blank">
                            <i class="fa fa-copyright"></i>&nbsp;winkel-centrum.nl
                        </a>
                    </p>
                </div>
            </div>

    <!-- gpldownloads.nl ================================================== -->
    <div class="portfolio-item">
        <img src="img/gpldownloads.png" alt="gpldownloads.nl site">
        <div class="portfolio-details">
            <h4>gpldownloads.nl</h4>
            <p>
                Opensource software can cost money, but is allowed to resell.
            </p>
            <p>
                Gpldownloads makes older versions of opensource software available for rollbacks and development purposes.
            </p>
            <p class="portfolio-links">
                <a href="https://www.gpldownloads.nl" target="_blank">
                    <i class="fa fa-copyright"></i>&nbsp;gpldownloads.nl
                </a>
            </p>
        </div>
    </div>


    <!-- motorfietsen.nu ================================================== -->
    <div class="portfolio-item">
        <img src="img/motorfietsennu.png" alt="motorfietsen.nu site">
        <div class="portfolio-details">
            <h4>motorfietsen.nu</h4>
            <p>
                Pushing WordPress, this site has 750.000 pages and will probably have 1.000.000 when I am done,
                includes WooCommerce and runs on the cheapest server alive: a raspberry pi on a basic internet home connection.
                Build just to prove scalability does not need expensive hosting.
            </p>
            <p>
                Winkel-centrum.nl is an affiliated woocommerce website with lots of products, and growing.
            </p>
            <p class="portfolio-links">
                <a href="https://www.motorfietsen.nu" target="_blank">
                    <i class="fa fa-copyright"></i>&nbsp;motorfietsen.nu
                </a>
            </p>
        </div>
    </div>

    <!-- puddinq.nl ================================================== -->
    <div class="portfolio-item">
        <img src="img/puddinqnl.png" alt="puddinq.nl site">
        <div class="portfolio-details">
            <h4>puddinq.nl</h4>
            <p>
                The predecessor for puddinq.com, puddinq.nl still has some pages that have traffic on the dutch content.
            </p>
            <p>
                The project is not abandoned and still maintained, but there is no new content. Super fast 300 ms
            </p>
            <p class="portfolio-links">
                <a href="https://www.puddinq.nl" target="_blank">
                    <i class="fa fa-copyright"></i>&nbsp;puddinq.nl
                </a>
            </p>
        </div>
    </div>

    <!-- rlsd.nl ================================================== -->
    <div class="portfolio-item">
        <img src="img/rlsd.png" alt="rlsd.nl site">
        <div class="portfolio-details">
            <h4>rlsd.nl</h4>
            <p>
                As the funny project started a website for real life sex dolls
            </p>
            <p>
                Still a work in progress,.. just start laughing each time which makes me go and something else.
            </p>
            <p class="portfolio-links">
                <a href="https://www.rlsd.nl" target="_blank">
                    <i class="fa fa-copyright"></i>&nbsp;rlsd.nl
                </a>
            </p>
        </div>
    </div>
        </div><!-- end of portfolio -->

</div> <!-- end of container (fluid wrapper)) -->
