
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-43799646-2"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-43799646-2');
</script>

    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCacpnCR7YLoVDEOSUCqwAdh3K-TBO7NbU"></script>
    <script src="js/jquery.masonry.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/google-maps.js"></script>
    <script src="js/stenen.js"></script>
</body>
</html>
