<!-- HEAD ================================================ -->

<div class="row-fluid row heading">
    <div class="col-md-8">
        <section id="profile">
        <img class="head-shot" src="img/s.schotvanger.jpg" alt="Foto van Stefan Schotvanger">
        <h1 class="name"><span itemprop="name">Stefan Schotvanger</span></h1>
        <h2 class="trade"><span itemprop="jobTitle">Junior PHP Developer</span></h2>
        <p class="photo-message" itemprop="description">
            <span class="glyphicon glyphicon-menu-right"></span>
            Een ervaren backend developer bij New Fountain waar ik werk met WordPress, WooCommerce, big data, php, javascript, composer, git, sass, mysql, nginx, apache, hosting en meer.<br><br>
            Buiten het werk ervaring met affiliated marketing, MVC frameworks, RaspBerry Pi, Wamp, Linux.<br><br>
            <b>Motto:</b> Why do it manually if you can automate it<br>
            New Fountain werk:
            <ul>
                <li><a href="https://www.brommer.nl/" title="Brommer.nl" target="_blank">Brommer.nl</a> - 1.420.000 pagina's in WordPress</li>
                <li><a href="https://www.monnikendam.nl/" title="Brommer.nl" target="_blank">Monnikendam.nl</a> - Met kassa koppeling en verzendlabels</li>
                <li><a href="https://www.sportkadernederland.nl/maak-uw-eigen-berekening/" title="Sportkadernederland" target="_blank">Sportkadernederland.nl</a> - bruto - netto // netto bruto loonberekening</li>
                <li>etc.</li>
            </ul>
        </p>
        </section>
    </div>
    <div class="col-md-4">
        <section id="skills" class="clearfix" itemscope itemtype="http://schema.org/ItemList">
        <h2 class="service" itemprop="about">
            <span class="glyphicon glyphicon-ok"></span>
            Eigenschappen:
            <i class="download-cv"><a href="https://www.puddinq.mobi/wip/stefan-schotvanger/img/cv-stefan-schotvanger.pdf"><span class="glyphicon glyphicon-download-alt"></span></a></i>
        </h2>
        <p itemprop="description">
            <span class="glyphicon glyphicon-hand-right"></span> Teamplayer<br>
            <span class="glyphicon glyphicon-hand-right"></span> Analytisch<br>
            <span class="glyphicon glyphicon-hand-right"></span> Algebra<br>
            <span class="glyphicon glyphicon-hand-right"></span> Out of the box denken<br>
        </p>
        </section>
        <h2 class="service" itemprop="about">
            <span class="glyphicon glyphicon-ok"></span>
            Interesses:
        </h2>
        <p itemprop="description">
            <span class="glyphicon glyphicon-hand-right"></span> Scifi<br>
            <span class="glyphicon glyphicon-hand-right"></span> UK<br>
            <span class="glyphicon glyphicon-hand-right"></span> Economie<br>
            <span class="glyphicon glyphicon-hand-right"></span> Motor rijden<br>
        </p>
        </section>
    </div>
</div> <!-- end of HEAD end of row-fluid heading -->
