<!-- HEAD ================================================ -->

<div class="row-fluid row heading">
    <div class="col-md-8">
        <section id="profile">
        <img class="head-shot" src="img/s.schotvanger.jpg" alt="Foto van Stefan Schotvanger">
        <h1 class="name"><span itemprop="name">Stefan Schotvanger</span></h1>
        <h2 class="trade"><span itemprop="jobTitle">Junior PHP Developer</span></h2>
        <p class="photo-message" itemprop="description">
            <span class="glyphicon glyphicon-menu-right"></span>
            Ik ben een startende Web developer bij New
            Fountain in Haarlem.

            Daar werk ik voornamelijk aan de backend met
            een korte lijn naar de frontend.
        </p>
        </section>
    </div>
    <div class="col-md-4">
        <section id="skills" class="clearfix" itemscope itemtype="http://schema.org/ItemList">
        <h2 class="service" itemprop="about">
            <span class="glyphicon glyphicon-ok"></span>
            Diensten
            <i class="download-cv"><a href="https://www.puddinq.mobi/wip/stefan-schotvanger/CV-Stefan-Schotvanger.doc"><span class="glyphicon glyphicon-download-alt"></span></a></i>
        </h2>
        <p itemprop="description">
            <span class="glyphicon glyphicon-hand-right"></span>
            Planning & Controll, projectanalyse, PHP applicatie ontwikkeling,
            Marketing, Coaching en Instructie.


        </p>
        </section>

    </div>
</div> <!-- end of HEAD end of row-fluid heading -->
