<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>CV Stefan Schotvanger - responsive</title>
    <meta name="author" content="Stefan Schotvanger">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="HandheldFriendly" content="true">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  
    <!-- SEO -->
    <meta name="description" content="Stefan Schotvanger, In 2013 heb ik een opleiding gevolgd om mijn php hobbykennis naar een hoger niveau te brengen. In 2014 wil ik deze kennis uitbreiden.."/>
    <!--<link rel="canonical" href="https://www.puddinq.mobi/wip/profiel/" /> -->
    <meta property="og:locale" content="nl_NL" />
    <meta property="og:type" content="profile" />
    <meta property="og:type:profile:first_name" content="Stefan" />
    <meta property="og:type:profile:last_name" content="Schotvanger" />
    <meta property="og:type:profile:username" content="s.schotvanger" />
    <meta property="og:type:profile:gender" content="male" />
    <meta property="og:title" content="Stefan Schotvanger" />
    <meta property="og:description" content="Een ervaren backend developer bij New Fountain waar ik werk met WordPress, WooCommerce, big data, php, javascript, composer, git, sass, mysql, nginx, apache, hosting en meer." />
    <meta property="og:url" content="https://www.puddinq.mobi/wip/profiel/" />
    <meta property="og:site_name" content="puddinq" />
    <meta property="article:published_time" content="2014-10-04T10:37:01+00:00" />
    <meta property="article:modified_time" content="2015-02-05T20:10:21+00:00" />
    <meta property="og:updated_time" content="2014-12-09T10:08:18+00:01" />
    <meta property="og:image" content="https://www.puddinq.nl/wip/stefan-schotvanger/img/s_schotvanger_linkedin.jpg" />
    <meta property="og:image:secure_url" content="https://www.puddinq.nl/wip/stefan-schotvanger/img/s_schotvanger_linkedin.jpg" />
    <meta property="og:image:type" content="image/jpeg" />
    <meta property="og:image:width" content="892" />
    <meta property="og:image:height" content="1312" />

    <!-- bootstrap -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/profile.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
</head>

<body>

